<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>The Sock Exchange <p class="text-right"><small class="text-warning"><strong>Welcome, Sarah!</strong> | Log Off</small></p></h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
      <h4 class="text-primary">My Profile / My History / <strong>View Requests</strong> / New Request</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="Chuck Norris.png">
      </div>
      <div class="col-md-8">
        <h3><strong>Chuck Norris needs a shirt by 11/1/13</strong></h3>
        <p class="lead">Shirt should be tight, made of leather or jean inspired material, and show off bicepts. Deep V preferred. Will be returned by 11/15/13.</p>
        <a class="btn btn-primary btn-large" href="#">Lend</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="Lady Gaga.png">
      </div>
      <div class="col-md-8">
        <h3><strong>Lady Gaga needs an egg costume by 12/1/13</strong></h3>
        <p class="lead">Egg costume should be elaborate, enough to make a grand entrance. Will be returned by 12/20/13, autographed if you would like.</p>
        <a class="btn btn-primary btn-large" href="#">Lend</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <img src="Bey.jpg">
      </div>
      <div class="col-md-8">
        <h3><strong>Beyonce needs gold glitter pants by 12/5/13</strong></h3>
        <p class="lead">The more glitter, the better.  Pants should allow for a lot of movement. Will be returned by 12/25/13.</p>
        <a class="btn btn-primary btn-large" href="#">Lend</a>
      </div>
    </div>

  </div>
</body>